.App {
  text-align: center;
  background-color: #faebd7;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button, #task, #categories {
  display: inline-block;
  border-radius: 3px;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
  width: 10rem;
  background: transparent;
  color: black;
  border: 2px solid black;
  font-weight:bold;
}

h3, p{
  display: inline-block;
  width: 12%;
  font-weight:bold;
}

header{
  background-color: #20B2AA;
}

label{
  font-weight:bold;
}

hr{
  width: 20%;
}

